@font-face {
    font-family: Verdana;
    src: url("verdanab.ttf");
}
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("Milan_Holidays_0000s_0001_background.png");

}
.wrapper{
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
.menu{
    margin: 0 auto;
    height: 44px;
    display: block;
    position: relative;
    margin-top: 50px;
}
.menu div{
    display: inline-block;
}
.Milan{
    font-size: 1.813em;
    font-weight: 700;
    line-height: 0.724;
    text-align: left;
    top: 0px;
    display: inline-block;
}
.Holidays, .Milan{
    font-family: Verdana;
    color: #ffffff;
    position: absolute;
    margin-left: 59px;
}
.HMI:hover .Holidays{
    color: #f26522;
}
.HMI:hover .Milan{
    color: #f26522;
}

.Holidays{
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1.167;
    text-align: left;
    top: 62%;
display: inline-block;
}
.com, .tel{
    text-align: right;
    position: absolute;
    right: 0px;
    color: #ffffff;
    font-size: 1.125em;
}
.menu div a{
 text-decoration: none;
    color: #ffffff;
}
/*.divC div a div:hover{*/
    /*color: #f26522;*/
/*}*/
.tel{
    bottom: 0%;
}
.img > div{
    display: inline-block;

}
.img1{
    color: white;
    text-align: center;
    font-family: Verdana;
    line-height: 1.167;
    font-size: 1.125em;
    margin-top: 20px;
    margin-bottom: 20px;
}
.img div a {
text-decoration: none;
}
.L1, .L4{
    margin-right: 29px;
    margin-top: 40px;
    height: 269px;
  }
.L2, .L5{
    margin: 0px auto;

}

.L3, .L6{
    margin-left: 29px;
    margin-top: 40px;
}
.img div a img{
    box-shadow: 3px 3px 4px black;
    border: 2px solid #f1f2e9;
}
.botton{
    font-family: Verdana;
    color:  #ffffff;
    font-size: 0.75em;
    font-weight: 400;
    line-height: 1.75;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;

}
.botton_a{
    text-decoration: none;
}
.img_A{
    display: block;
    width: 46px;
    height: 44px;
    background: url('../img/logo.png') bottom;

}
.HMI:hover .img_A{
    background: url("../img/logo (1).png");
    color: #f26522;
}

.img__{
    position: absolute;
    background: #f26522;
    width: 312px;
    height: 63px;
    opacity: 0;
    display: block;
    bottom: 64px;

}
.L1, .L2, .L3, .L4, .L5, .L6{
    position: relative;
    color: white;
    font-family: Verdana;

}
.L1:hover .img__ {
    opacity: 1;
    z-index: +2;
}
.L2:hover .img__ {
    opacity: 1;
    z-index: +2;
}
.L3:hover .img__ {
    opacity: 1;
    z-index: +2;
}
.L4:hover .img__ {
    opacity: 1;
    z-index: +2;
}
.L5:hover .img__ {
    opacity: 1;
    z-index: +2;
}
.L6:hover .img__ {
    opacity: 1;
    z-index: +2;
}
.a1 {
    text-decoration: none;
    color: #ffffff;
display: contents;
}
.img__ p{
    /*display: ;*/
    /*position: relative;*/
    /*width: 60px;*/

}
.nn{
    position: relative;
}
.fr, .Ev, .Vie{
    position: relative;
}
.fr{
    font-size: 10px;
    margin-top: 13px;
    margin-left: 10px;
}
.Ev{
    font-size: 20px;
    margin-left: 10px;
}
.Vie{
    font-size: 14px;
    right: 0px;
    left: 60%;
    bottom: 17px;
}
